.container {
    padding-bottom: 20px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.subtitle {
    margin: 0;
    text-align: right;
}

.description {
    text-align: left;
}